
.actionBtnWrapper {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  right: 3px;
}

.actionMenuButton {
  display: grid;
  place-items: center;
  width: 28px;
  height: 28px;
  padding: 0;
  margin: 0;
  border-radius: 20px;
}

.actionMenuButton svg { 
  transform: translateX(-0.28px); 
}

.renameButton {
  display: flex;
  gap: 1px;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  margin-top: 2px;
}

.moveButton {
  display: flex;
  gap: 1px;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  margin-top: 2px;
}

.actionMenuWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  position: absolute;
  gap: 1px;
  right: -10px;
  bottom: 30px;
}

.buttonLabel {
  padding: 0 2px;;
}